body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #007BFF; /* Синій фон */
    overflow: hidden; /* Сховати прокрутку */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    color: white; /* Білий текст */
}

.logo {
    position: absolute;
    width: 80px; /* Фіксована ширина для логотипів */
    height: 80px; /* Фіксована висота */
    object-fit: contain; /* Зберігаємо пропорції логотипу */
    animation: jump 1s ease-in-out infinite; /* Анімація стрибка */
    pointer-events: auto; /* Ігнорування кліків на логотипах */
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0); /* Вихідна позиція */
    }
    50% {
        transform: translateY(-30px); /* Стрибок вгору */
    }
}

.catch-animation {
    animation: caught 0.5s forwards; /* Анімація при ловлі */
}

@keyframes caught {
    transform: scale(1.5); /* Збільшення при ловлі */
    opacity: 0; /* Зникнення */
}
